<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>wgwd.webdav</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>W_REMOTE_INTERFACE</key>
            <string>xxx</string>
            <key>W_WG_INTERFACE</key>
            <string>xxx</string>
            <key>W_ENDPOINT</key>
            <string>xxx</string>
            <key>W_USERNAME</key>
            <string>xxx</string>
            <key>W_PASSWORD</key>
            <string>xxx</string>
            <key>W_FILEPATH</key>
            <string>xxx</string>
            <key>W_ENCRYPTION_KEY</key>
            <string>xxx</string>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>/usr/local</string>
        <key>StartInterval</key>
        <integer>300</integer>
        <key>ProgramArguments</key>
        <array>
            <string>bash</string>
            <string>-c</string>
            <string>/usr/local/bin/wgwd get -remote_interface=${W_REMOTE_INTERFACE} -wg_interface=${W_WG_INTERFACE} webdav -endpoint=${W_ENDPOINT} -username=${W_USERNAME} -password=${W_PASSWORD} -filepath=${W_FILEPATH} -encryption_key=${W_ENCRYPTION_KEY}</string>
        </array>
        <key>UserName</key>
        <string>root</string>
        <key>GroupName</key>
        <string>wheel</string>
        <key>StandardErrorPath</key>
        <string>/var/log/wgwd.webdav.err</string>
        <key>StandardOutPath</key>
        <string>/var/log/wgwd.webdav.out</string>
    </dict>
</plist>