<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>wgwd</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>W_REMOTE_INTERFACE</key>
            <string>xxx</string>
            <key>W_WG_INTERFACE</key>
            <string>xxx</string>
            <key>W_ID</key>
            <string>xxx</string>
            <key>W_ENDPOINT</key>
            <string>xxx</string>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>/usr/local</string>
        <key>StartInterval</key>
        <integer>300</integer>
        <key>ProgramArguments</key>
        <array>
            <string>bash</string>
            <string>-c</string>
            <string>/usr/local/bin/wgwd get -remote_interface=${W_REMOTE_INTERFACE} -wg_interface=${W_WG_INTERFACE} nconnect -id=${W_ID} -endpoint=${W_ENDPOINT} -allow_insecure</string>
        </array>
        <key>UserName</key>
        <string>root</string>
        <key>GroupName</key>
        <string>wheel</string>
        <key>StandardErrorPath</key>
        <string>/var/log/wgwd.err</string>
        <key>StandardOutPath</key>
        <string>/var/log/wgwd.out</string>
    </dict>
</plist>