[Unit]
Description=NetInfo Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/nwg -id DEVICE_UUID -url NETINFO_RECORD_URL -interface pppoe0 -wg_interface wg0 -interval 30m
Restart=on-failure
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target