[Unit]
Description=WireGuard watchdog
After=network.target

[Service]
Environment="WGWD_ENDPOINT=http://192.168.1.2/"
Environment="WGWD_FILEPATH=/dav/center.json"
Environment="WGWD_USERNAME=admin"
Environment="WGWD_PASSWORD=adminadmin"
Environment="ENCRYPTION_KEY=adminadmin"
Type=simple
User=root
ExecStart=/usr/local/bin/wgwd get -remote_interface="pppoe0" -wg_interface="wg0" -interval="5m" webdav -endpoint=${WGWD_ENDPOINT} -username=${WGWD_USERNAME} -password=${WGWD_PASSWORD} -filepath=${WGWD_FILEPATH} -encryption_key=${ENCRYPTION_KEY}
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target