[Unit]
Description=NetInfo Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/nwg -id center -url http://localhost:1996/ -interface pppoe0 -wg_interface wg0 -interval 5m
Restart=on-failure
SyslogIdentifier=NetInfo Server

[Install]
WantedBy=multi-user.target