[Unit]
Description=WireGuard Watchdog S3 Receiver Timer

[Timer]
Unit=wgwd_s3.service
OnBootSec=10s
OnUnitActiveSec=5m
Persistent=true

[Install]
WantedBy=multi-user.target