[Unit]
Description=WireGuard Watchdog Webdav Receiver Timer

[Timer]
Unit=wgwd_webdav.service
OnBootSec=10s
OnUnitActiveSec=5m
Persistent=true

[Install]
WantedBy=multi-user.target